* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	transition: opacity .7s;
}
body.loading {
	opacity: 0;
}

#worldCanvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 300vh;
}
